/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.btn-action{
    margin: 0 3px 6px 0;
    font-size: 12px;
    padding:6px
}
.b-line{
    border-bottom:1px solid #3A48B0; padding-bottom: 60px;
}
p{font-size: 16px!important}